<header class="container header active" id="home">
    <div class="header-content">
        <div class="right-header">
            <h1 class="name">Hi, I'm <span>kalaiyarasi</span></h1>
            <p>
                I'm a Web Developer, I love to create beautiful and functional websites. " Website without visitors is like a ship lost in the horizon ". Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, libero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis sed aut!
            </p>
        </div>
        <div class="left-header">
            <div class="h-shape"></div>
            <div class="image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaJ7XnA4g4A6j4dKJmgXYocciMrXSgoEywhw&usqp=CAU" width="300px" height="300px" alt="" />
            </div>
        </div>
    </div>
</header>
<app-about></app-about>