<p>portfolio works!</p>
<section class="container" id="portfolio">
    <div class="main-title">
        <h2>My <span>Portfolio</span></h2>
    </div>
    <p class="port-text">
        Here is some of my work that I've done in various programming languages.
    </p>
    
    <div class="portfolios">
        
        <div class="portfolio-item">
            <div >
                <ul><li><h3>Online quiz portal</h3></li></ul>
                    <pre>        A oline quiz portal app with multiple REST APIs where users can browse different quizzes, attempt them, and find their scores and standings. </pre>
                    <ul><li><h3>Airline booking portal</h3></li></ul>
                    <pre>        design and develop an airline booking portal</pre>
            </div>
            <div class="hover-items">
                <h3>Project Source</h3>
                <div class="icons">
                    <a href="#https://github.com/kalaiyarasi29092001" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    
                </div>
            </div>
        </div>
        
      
      
    </div>
</section>
<app-contact></app-contact>